.text-purple {
    color: #FF136F;
}

.btn-purple {
    background: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 3px 30px;
    width: 162px;
    transition: .2s;
}

.btn-purple:hover {
    color: #fff;
    transform: translateY(-4px);
    box-shadow: 3px 3px 0 #fff;
}

.btn-purple i {
    font-size: 1.875rem;
}

section {
    padding: 2rem 0;
}

.section-title {
    font-size: 2.25rem;
    line-height: 3.375rem;
}

header {
    padding: 2rem 0;
}

.main-nav li a {
    color: #707070 !important;
    font-weight: 500;
}

.main-nav li a.active {
    color: #FF136F !important;
}

.nav-search input, .nav-search button {
    border-radius: 200px;
    background: #f5f5f5;
    border-color: transparent;
    color: #949494;
}

.nav-search input {
    padding: 10px 25px;
}

.nav-search input::placeholder {
    color: #cac8c8;
    font-style: italic;
    font-weight: 500;
}

.nav-search input:hover, .nav-search input:visited, .nav-search input:focus, .nav-search input:active, .nav-search button:hover, .nav-search button:visited, .nav-search button:focus, .nav-search button:active {
    outline: 0;
    box-shadow: none;
    border-color: transparent;
    background: #f5f5f5;
}

.nav-search button:hover {
    color: #FF136F;
}

.main-slider {
    background-color: #fceae8;
    border-radius: 15px;
    padding: 35px;
    box-sizing: border-box !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-content .title {
    font-size: 3rem;
}

.carousel-content .subtitle {
    width: 80%;
}

.carousel-content .price {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -2px !important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #FF136F;
}
.product-category {
    padding: 1rem 3rem;
}
.product-category img{
    height: 97px;
    width: auto;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
    .nav-search input {
        width: 400px !important;
    }
    .nav-search {
        margin-left: 3rem;
    }
}